.color1{
    background-color: #324D5C;
    color: #FFFFFF;
}
.color2{
    background-color: #F53855;
    color: #FFFFFF;
}
.color3{
    background-color: #46B29D;
    color: #FFFFFF;
}
.container{
    font-weight: bold;
}
p{
    font-weight: normal;
}